<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Herretøj i Randers</title>
    <link rel="icon" href="/static/assets/STAY.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/styles/cart.css">
    <script src="static/scripts/cart.js"></script>
</head>

<body>
    <!--Nav bar-->
    <div class="container">
        <a href="/"><img src="/static/assets/stayText.jpg" alt="Front Page"></a>
    </div>
    <div class="navbar-placeholder">
    </div>
    <nav class="navbar">
        <ul class="navbar-list">
            <li><a class="navbar-item non-split" id="active" href="/">Trøjer</a></li>
            <li><a class="navbar-item non-split" href="#">Jakker</a></li>
            <li><a class="navbar-item non-split" href="#">Skjorter</a></li>
            <li><a class="navbar-item non-split" href="#">Sko</a></li>
            <li><a class="navbar-item non-split" href="/products">Bukser</a></li>
            <li><a href="#"><img class="navbar-item split" src="/static/assets/profile.png" alt="Profil" width="40" height="40"></a></li>
            <li><a href="#"><img class="navbar-item split" src="/static/assets/cart.png" alt="Kurv" width="40" height="40"></a></li>
            <li><a href="#"><img class="navbar-item split" src="/static/assets/search.png" alt="Søg" width="40" height="40"></a></li>
        </ul>
    </nav>
    <!--Cart-->
    <div class="cart-container">
        <h1>Kurv</h1>
        <ul id="cart-list"></ul>
    </div>
    <h2>Total: <span id="total"></span></h2>
    <div class="btn-list">
        <button id="checkout-btn">Gå til betaling</button>
        <button id="clear-btn">Tøm kurv</button>
    </div>
    <p style="text-align: center;"><a style=" text-decoration: none; color: grey;" href="/FAQ">About us</a></p>
</body>

</html>