<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Herretøj i Randers</title>
    <link rel="icon" href="/static/assets/STAY.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/styles/FAQ.css">
    <script src="static/scripts/main.js"></script>
</head>
<body>
    <div class="container">
        <a href="/"><img src="/static/assets/stayText.jpg" alt="Front Page"></a>
    </div>    
    <div class="navbar-placeholder">
    </div>
    <nav class="navbar">
        <ul class="navbar-list">
            <li><a class="navbar-item non-split" id="active" href="#" >Trøjer</a></li>
            <li><a class="navbar-item non-split" href="#">Jakker</a></li>
            <li><a class="navbar-item non-split" href="#">Skjorter</a></li>
            <li><a class="navbar-item non-split" href="#">Sko</a></li>
            <li><a class="navbar-item non-split" href="/products">Bukser</a></li>
            <li><a href="#"><img class="navbar-item split"  src="/static/assets/profile.png" alt="Profil" width="40" height="40"></a></li>
            <li><a href="#"><img class="navbar-item split"  src="/static/assets/cart.png" alt="Kurv" width="40" height="40"></a></li>
            <li><a href="#"><img class="navbar-item split"  src="/static/assets/search.png" alt="Søg" width="40" height="40"></a></li>
        </ul>
    </nav>
    <h2>Hvad er STAY Randers?</h2>
    <p style="width: 50%;">STAY Randers er en tøjbutik beliggende midt i Randers centrum. Vi sælger herretøj i alle afskygninger, til både unge og gamle.
        Hos os kan du finde alt fra jakkesæt til t-shirts, og vi har altid et stort udvalg af varer på lager. Vi har også et stort udvalg af accessories, såsom slips, butterfly og manchetknapper.
        Vi har også et stort udvalg af sko, så du kan finde alt hvad du skal bruge til at klæde dig på fra top til tå. Ved STAY er du garanteret høj kvalitet og stor tilfredshed.
    </p>
    <h2>Hvordan bestiller jeg?</h2>
    <p style="width: 50%;">Det er nemt at bestille hos STAY Randers. Du kan enten besøge vores butik i Randers centrum, eller du kan bestille online via vores hjemmeside. Hvis du bestiller online, vil du modtage en bekræftelse på din bestilling, og vi vil sende dine varer til dig hurtigst muligt.
        Hvis du har spørgsmål til din bestilling, er du altid velkommen til at kontakte os på telefon eller e-mail. Vi står altid klar til at hjælpe dig med at finde det helt rigtige tøj.
    </p>
    <h2>Hvordan betaler jeg?</h2>
    <p style="width: 50%;">Du kan betale på flere forskellige måder hos STAY Randers. Vi accepterer alle gængse betalingskort, såsom VISA, MasterCard og American Express. Du kan også betale med MobilePay, hvis du foretrækker det.
        Hvis du bestiller online, kan du også betale med PayPal. Vi gør alt for at gøre det nemt og bekvemt for dig at handle hos os, så du kan koncentrere dig om at finde det helt rigtige tøj.
    </p>
    <h2>Jeg kan ikke se nogle produkter?</h2>
    <p style="width: 50%;">Hvis du ikke kan se nogle produkter på vores hjemmeside, kan det skyldes, at vi er udsolgt for øjeblikket. Vi får dog løbende nye varer på lager, så du kan altid holde øje med vores hjemmeside for at se de nyeste produkter.
    </p>
    <p style="width: 50%;">Manglen på produkter kan også skyldes tekniske problemer, så hvis du oplever problemer med at se vores produkter, er du altid velkommen til at kontakte os på telefon eller e-mail, eller at komme tilbage lige om lidt, når hjemmesiden er færdig med at bliver serviceret.
    </p>
    <p style="width: 50%;">Hvis du har spørgsmål til vores sortiment, er du altid velkommen til at kontakte os på telefon eller e-mail. Vi står altid klar til at hjælpe dig med at finde det helt rigtige tøj.
    </p>
</body>
