<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Herretøj i Randers</title>
    <link rel="icon" href="/static/assets/STAY.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/styles/index.css">
    <script src="static/scripts/index.js"></script>
</head>
<body>
    <div class="navbar-placeholder"></div>
    <nav class="navbar">
        <ul class="navbar-list">
            <li><a class="navbar-item non-split" id="active" href="index.html" >Trøjer</a></li>
            <li><a class="navbar-item non-split" href="#">Jakker</a></li>
            <li><a class="navbar-item non-split" href="#">Skjorter</a></li>
            <li><a class="navbar-item non-split" href="product.html">Sko</a></li>
            <li><a class="navbar-item non-split" href="#">Bukser</a></li>
            <li><a href="#"><img class="navbar-item split"  src="/static/assets/profile.png" alt="Profil" width="40" height="40"></a></li>
            <li><a href="#"><img class="navbar-item split"  src="/static/assets/cart.png" alt="Kurv" width="40" height="40"></a></li>
            <li><a href="#"><img class="navbar-item split"  src="/static/assets/search.png" alt="Søg" width="40" height="40"></a></li>
        </ul>
    </nav>
    <div id="data"></div>
    <div class="grid-container">
        <div class="grid-item">
            <a class="grid-img" style="background-image: url(/static/assets/placeholder.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;" href="#"></a>
            <a class="grid-text" href="#">Skibidi</a>
        </div>
        <div class="grid-item">
            <a class="grid-img" style="background-image: url(/static/assets/placeholder.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;" href="#"></a>
            <a class="grid-text" href="#">Ohio</a>
        </div>
        <div class="grid-item">
            <a class="grid-img" style="background-image: url(/static/assets/placeholder.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;" href="#"></a>
            <a class="grid-text" href="#">Gyatt</a>
        </div>
        <div class="grid-item">
            <a class="grid-img" style="background-image: url(/static/assets/placeholder.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;" href="#"></a>
            <a class="grid-text" href="#">FORTNITE</a>
        </div>
        <div class="grid-item">
            <a class="grid-img" style="background-image: url(/static/assets/placeholder.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;" href="#"></a>
            <a class="grid-text" href="#">Sigma</a>
        </div>
        <div class="grid-item">
            <a class="grid-img" style="background-image: url(/static/assets/placeholder.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;" href="#"></a>
            <a class="grid-text" href="#">Rizz</a>
        </div>
    </div>
    <p style="text-align: center; text-decoration: none; color: black;"><a href="FAQ.html">About us</a></p>
</body>
</html>
