<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Herretøj i Randers</title>
    <link rel="icon" href="/static/assets/STAY.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/styles/index.css">
    <script src="static/scripts/jquery-3.7.1.min.js"></script>
    <script src="static/scripts/index.js"></script>
</head>
<body>
    <div class="container">
        <a href="/"><img src="/static/assets/stayText.jpg" alt="Front Page"></a>
    </div>    
    <div class="navbar-placeholder">
    </div>
    <nav class="navbar">
        <ul class="navbar-list">
            <li><a class="navbar-item non-split" id="active" href="#" >Trøjer</a></li>
            <li><a class="navbar-item non-split" href="#">Jakker</a></li>
            <li><a class="navbar-item non-split" href="#">Skjorter</a></li>
            <li><a class="navbar-item non-split" href="#">Sko</a></li>
            <li><a class="navbar-item non-split" href="/products">Bukser</a></li>
            <li><a href="#"><img class="navbar-item split"  src="/static/assets/profile.png" alt="Profil" width="40" height="40"></a></li>
            <li><a href="/cart"><img class="navbar-item split"  src="/static/assets/cart.png" alt="Kurv" width="40" height="40"></a></li>
            <li><a href="#"><img class="navbar-item split"  src="/static/assets/search.png" alt="Søg" width="40" height="40"></a></li>
        </ul>
    </nav>

    <div class = "big-item">
        <a class="big-img" style="background-image: url(https://www.marcus.dk/shared/18/784/image_1570w.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;" href="#"></a>
    </div>

    <div class="gapper"></div>

    <div id="data"></div>
    <div class="grid-container">
        <div class="grid-item">
            <a class="grid-img" style="background-image: url(https://img01.ztat.net/cnt/contentful-apps/uploads/a97d545d-9437-4a8f-8d23-f7f166760813.jpeg?imwidth=640); background-repeat: no-repeat; background-size: cover; background-position: center center;" href="#"></a>
            <a class="grid-text" href="#">Cool in the pool</a>
        </div>
        <div class="grid-item">
            <a class="grid-img" style="background-image: url(https://img01.ztat.net/cnt/contentful-apps/uploads/aea10b5b-b8a4-4baa-b0e8-b133f91fdb11.jpeg?imwidth=640); background-repeat: no-repeat; background-size: cover; background-position: center center;" href="#"></a>
            <a class="grid-text" href="#">Ferietøjet</a>
        </div>
        <div class="grid-item">
            <a class="grid-img" style="background-image: url(https://img01.ztat.net/cnt/contentful-apps/uploads/eb4b7413-79a3-494c-9b26-e7f62399da38.jpeg?imwidth=640); background-repeat: no-repeat; background-size: cover; background-position: center center;" href="#"></a>
            <a class="grid-text" href="#">En varm sommer</a>
        </div>

    </div>
    <p style="text-align: center;"><a style=" text-decoration: none; color: grey;"href="/FAQ">About us</a></p>
</body>
</html>
