<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Herretøj i Randers</title>
        <link rel="icon" href="/static/assets/STAY.ico" type="image/x-icon">
        <link rel="stylesheet" href="/static/styles/product.css">
        <script src="static/scripts/product.js"></script>
    </head>
    <body>
        <!--Nav bar-->

        <!--Product-->
        <div class="grid-container">
            <div class="grid-item">
                <img class="grid-img" src="/static/assets/placeholder.jpg" alt="Image">
                <p class="grid-text">Picture</p>
                </div>
            <div class="grid-item">
                <p class="grid-text">Description...</p>
            </div>
        </div>
    </body>
</html>