<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Herretøj i Randers</title>
        <link rel="icon" href="/static/assets/STAY.ico" type="image/x-icon">
        <link rel="stylesheet" href="/static/styles/product.css">
        <!-- <script src="static/scripts/product.js"></script> -->
    </head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
    <!-- JavaScript code for AJAX request -->
    <script>
        $(document).ready(
            function() {
            var itemId = 1;
            $.ajax({
                url: '/get_item_title?id=' + itemId,
                type: 'GET',
                success: function(response) {
                    $('#item-title').text(response.title);
                },
                error: function(xhr, status, error) {
                    console.error('Error fetching item title:', error);
                }
            });
        });
    </script>
    <body>
        <!--Nav bar-->
        <div class="navbar-placeholder"></div>
        <nav class="navbar">
            <ul class="navbar-list">
                <li><a class="navbar-item" id="active" href="index.html" >Trøjer</a></li>
                <li><a class="navbar-item" href="FAQ.html">Bukser</a></li>
                <li><a class="navbar-item" href="product.html">Sko</a></li>
            </ul>
        </nav>
        <!--Product-->
        <div class="grid-container-row">
            <div class="grid-item-row">
                <img class="grid-img-row" src="/static/assets/placeholder.jpg" alt="Image">
                <p class="grid-text-row">Picture</p>
                </div>
            <div class="grid-item-row"> <!--NÆSTE GANG LAV SÅ DER ER FORSKELLIGE DELE I DENNE MED TITEL ROW, STØRRELSE(LÆG I KURV) OG BESKRIVELSE. DEREFTER LOAD IND FRA MYSQL-->
                <div class="grid-container-column">
                    <div class="grid-item-column">
                        <h1 class="grid-text-column">Title: <span id="item-title"></span></h1>
                    </div>
                    <div class="grid-item-column">
                        <p class="grid-text-column">Pris</p>
                        <p class="grid-text-column">Tilbud</p>
                    </div>
                    <div class="grid-item-column">
                        <button class="grid-button-column" onclick="addToCart()">Læg i kurv</button>
                        <p class="grid-text-column">Størrelse</p>
                    </div>
                    <div class="grid-item-column">
                        <p class="grid-text-column">Beskrivelse</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>