<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Herretøj i Randers</title>
    <link rel="icon" href="/static/assets/STAY.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/styles/product.css">
    <script type="module" src="static/scripts/product.js"></script>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<body>
    <!--Nav bar-->
    <div class="container">
        <a href="/"><img src="/static/assets/stayText.jpg" alt="Front Page"></a>
    </div>
    <div class="navbar-placeholder">
    </div>
    <nav class="navbar">
        <ul class="navbar-list">
            <li><a class="navbar-item non-split" id="active" href="/">Trøjer</a></li>
            <li><a class="navbar-item non-split" href="#">Jakker</a></li>
            <li><a class="navbar-item non-split" href="#">Skjorter</a></li>
            <li><a class="navbar-item non-split" href="#">Sko</a></li>
            <li><a class="navbar-item non-split" href="/products">Bukser</a></li>
            <li><a href="#"><img class="navbar-item split" src="/static/assets/profile.png" alt="Profil" width="40"
                        height="40"></a></li>
            <li><a href="#"><img class="navbar-item split" src="/static/assets/cart.png" alt="Kurv" width="40"
                        height="40"></a></li>
            <li><a href="#"><img class="navbar-item split" src="/static/assets/search.png" alt="Søg" width="40"
                        height="40"></a></li>
        </ul>
    </nav>
    <!--Product-->
    <div class="grid-container-row">
        <div class="grid-item-row">
            <img class="grid-img-row" id="imgElement"
                style="background-repeat: no-repeat; background-size: cover; background-position: center center;">
        </div>
        <div class="grid-item-row">
            <div class="grid-container-column">
                <div class="grid-item-column">
                    <h1 class="grid-text-column" id="titleElement"></h1>
                </div>
                <div class="grid-item-column">
                    <p class="grid-text-column">Pris: <span id="priceElement"></span> kr.</p>
                </div>
                <div class="grid-item-column">
                    <button class="grid-button-column" id="addToCart">Læg i kurv</button>
                </div>
                <div class="grid-item-column">
                    <p class="grid-text-column">Beskrivelse: <span id="descriptionElement"></span></p>
                </div>
            </div>
        </div>
    </div>
    <p style="text-align: center;"><a style=" text-decoration: none; color: grey;" href="/FAQ">About us</a></p>
</body>

</html>