body {
  margin: 0;
  background-color: #f1f1f1;
}

.navbar-placeholder {
  height: 60px;
}

.gapper {
  height: 10px;
}

ul {
  list-style-type: none;
  ;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  border-bottom: 1px solid lightgray;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.split {
  float: right;
  text-align: center;
  padding: 4px 16px;

}

.non-split {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: black;
  position: relative;
}

.non-split::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #46692a;
  transform-origin: bottom;
  transition: transform 0.25s ease-out, width 0.25s ease-out;
  transform: scaleX(0);
}

.non-split:hover::after {
  transform: scaleX(1);
  width: 100%;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.grid-item {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  padding: 0px 20px;
  text-align: center;
  position: relative;
  color: white;
  text-decoration: none;
  font-family: 'simplifica';
  font-size: 20px;
  overflow: hidden;
  height: 400px;
  justify-content: center;
}

.grid-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.grid-text {
  position: relative;
  z-index: 2;
  color: white;
  text-decoration: none;
  font-family: 'simplifica';
  opacity: 0;
}

.big-item {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  padding: 0px 20px;
  text-align: center;
  position: relative;
  color: white;
  text-decoration: none;
  font-family: 'simplifica';
  font-size: 20px;
  overflow: hidden;
  height: 600px;
  justify-content: center;

}

.big-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.container {
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  height: 0px;
}

.container a {
  display: block;
}

.container img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  height: 45px;
}