body {
  margin: 0;
  background-color: #f1f1f1;
}

.navbar-placeholder {
  height: 60px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  border-bottom: 1px solid lightgray;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

li {
  float: left;
}

li a {
  display: block;
  color: #111;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: 1px solid white;
}

li a:hover {
    border: 1px solid black;
  }


.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
  
.grid-item {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  padding: 0px 20px;
  text-align: center;
  position: relative;
  color: white;
  text-decoration: none;
  font-family: 'simplifica';
  font-size: 20px;
  overflow: hidden;
  height: 400px;
  justify-content: center; /* Center content vertically */
}

.grid-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.grid-text {
    position: relative;
    z-index: 2;
    color: white;
    text-decoration: none;
    font-family: 'simplifica';

}